@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Sessión Finalizada</title>
</head>
<body>
    <div style="text-align:center;margin-top:200px">
        <img src="~/images/logoP.png" alt="Logo Proteccion"/>
        <br /><br />
        <h2>Ha finalizado sesión correctamente!</h2>
    </div>
</body>
</html>