@model List<Inconsistencia>
<div class="row" style="margin-top:10px">
    
    <div class="col-12">
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Detalle</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var inconsistencia in Model)
                {
                    <tr>
                        <td>@inconsistencia.IdInconsistencia</td>
                        <td>@inconsistencia.Detalle</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>