@{
    ViewData["Title"] = "EjecucionScripts";
}

@section Styles{
    <link href="~/lib/codemirror/codemirror.css" rel="stylesheet" />
    <link href="~/lib/codemirror/show-hint.css" rel="stylesheet" />
}

<h2>Ejecución de Scripts</h2>

<div class="row">
    <div class="col-md-6">
        <textarea id="txtSQL"></textarea>
        <br />
        <input value="Ejecutar Script" class="btn btn-success" onclick="EjecutarScript()" /> <input value="Validar Sintaxis" class="btn btn-primary" onclick="ValidarSintaxis()" />
    </div>
    <div class="col-md-6">
        <textarea class="CodeMirror form-control" id="txtResultado" style="width:100%" placeholder="Resultado de Ejecucion" readonly></textarea>
    </div>

</div>
@section Scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.2/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.2/mode/sql/sql.min.js"></script>
    <script src="https://codemirror.net/addon/hint/show-hint.js"></script>
    <script src="https://codemirror.net/addon/hint/sql-hint.js"></script>

    <script>
        var editor;
        function ValidarSintaxis() {
            var sql = editor.getValue();
            $.ajax({
            type: "GET",
            url: "@Url.Action("ValidarScript", "Tablero")",
            contentType: "application/json; charset=utf-8",
            data: {"sql": sql},
            datatype: "json",
            success: function (data) {
                //debugger;
                document.getElementById("txtResultado").value = data.errores;

                },
            error: function () {
                alert("Error realizando la validación");
                }
            });
        }

        function EjecutarScript() {
            var sql = editor.getValue();
            $.ajax({
                type: "GET",
                url: "@Url.Action("EjecutarScript", "Tablero")",
                contentType: "application/json; charset=utf-8",
                data: { "sql": sql },
                datatype: "json",
                success: function (data) {
                    //debugger;
                    document.getElementById("txtResultado").value = data.resultado;

                }
            });
        }

        $(function () {

             editor = CodeMirror.fromTextArea(document.getElementById('txtSQL'), {
                mode: 'text/x-mssql',
                indentWithTabs: true,
                smartIndent: true,
                lineNumbers: true,
                matchBrackets: true,
                autofocus: true,
                extraKeys: {
                    "Ctrl-Space": "autocomplete"
                },
                hintOptions: {
                    tables: {
                        users: ["name", "score", "birthDate"],
                        countries: ["name", "population", "size"]
                    }
                }
            });

        })
    </script>
}